[Unit]
Description = kinesis-firehose-agent-go

[Service]
ExecStart=/var/log/kinesis-streams-agent/kinesis-streams-agent -c /var/log/kinesis-streams-agent/config.yml
PIDFile=/tmp/kinesis-firehose-agent-go.pid
Restart=always

[Install]
WantedBy=default.target
